<div class="w-full h-full p-6 flex flex-col gap-8">

  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold text-gray-800">Historique des Transactions ( {{data?.length}} )</h1>
    <span class="text-gray-600 text-sm">Consultez les détails de vos dernières opérations</span>
  </div>

  <div class="bg-white shadow-md rounded-lg overflow-hidden max-h-[470px] overflow-y-auto">
    <table class="w-full text-left border-collapse">
      <thead class="bg-[#e1a91c] text-white sticky top-0">
        <tr>
          <th class="py-3 px-4">Type</th>
          <th class="py-3 px-4">Montant</th>
          <th class="py-3 px-4">Date</th>
          <th class="py-3 px-4">Statut</th>
          <th class="py-3 px-4">Numéro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tx of data" class="hover:bg-gray-100 transition">
          <td class="py-3 px-4 capitalize">
            {{ tx.type }}
          </td>

          <td class="py-3 px-4 font-semibold" [ngClass]="{
              'text-green-600': tx.type === 'depot' || (tx.type === 'transfert' && tx.amount > 0),
              'text-red-600': tx.type === 'retrait' || tx.amount < 0
            }">
            {{ tx.type === 'depot' ? '+' : '-' }}{{ tx.amount | number:'1.0-0' }} F CFA
          </td>

          <td class="py-3 px-4">
            {{ tx.date | date:'dd/MM/yyyy HH:mm' }}
          </td>

          <td class="py-3 px-4">
            <span class="py-1 px-3 rounded-full text-sm" [ngClass]="{
                'bg-green-100 text-green-600': tx.status === 'completed',
                'bg-yellow-100 text-yellow-600': tx.status === 'pending',
                'bg-red-100 text-red-600': tx.status === 'failed'
              }">
              {{ tx.status === 'completed' ? 'Réussi' :
              tx.status === 'pending' ? 'En attente' :
              'Échoué' }}
            </span>
          </td>

          <td class="py-3 px-4">
            {{ tx.number || '-' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
