<div class="flex flex-col h-screen">

  <div class="flex justify-between p-1 bg-black items-center">
    <div class="flex gap-3 justify-center items-center">
      <img src="assets/images/logo.png" alt="Logo" class="w-20 h-20 object-contain">
      <div class="flex flex-col gap-1 justify-center items-center">
        <span class="text-xl text-[#e1a91c] font-bold">Taf Taf</span>
        <span class="text-sm text-white">Money Trans</span>
      </div>
    </div>
    <div class="flex gap-3 mr-2">
      <button (click)="login()" class="bg-white border border-[#e1a91c] text-[#e1a91c] font-semibold px-4 py-2 rounded">
        Connexion
      </button>
      <button (click)="register()" class="bg-[#e1a91c] text-white px-4 py-2 font-semibold rounded">
        Inscription
      </button>
    </div>
  </div>

  <div class="flex justify-between items-center p-4 gap-28 bg-[#e1a91c] flex-1">

    <div class="w-[50%] ml-8 flex flex-col justify-center items-center gap-4">
      <span class="text-5xl font-bold">Envoyer de l'argent partout dans le monde</span>
      <span class="text-lg">Envoyez de l'argent en ligne à vos proches en quelques instants avec Taf Taf money trans.
      Avec plus de 200 pays et territoires couverts, les transferts d'argent internationaux n'ont jamais été aussi simples.</span>
    </div>

    <div class="flex justify-center items-center w-[70%] h-[85%]">
      <img src="assets/images/img.jpeg" alt="Logo" class="w-full h-full rounded-full object-cover">
    </div>

  </div>

</div>
